<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header id="">
        <div class="top-round">

        </div>
        <!-- nav Start -->
        <nav>
            <div class="container">
                <div class="nav-main">
                    <div class="nav-logo">
                        <img src="./image/logo.png" alt="">
                    </div>
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">speciality</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                    <div class="search-box">
                        <input type="search" placeholder="Search hear">
                        <a href="#">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Header main start -->
        <div class="box-1">
            <div class="flag-img">
                <img src="./image/flag.png" alt="">
            </div>
            <div class="title-1">
                <p>La vera Cucina</p>
            </div>
            <div class="title-2">
                <p>italian food</p>
            </div>
            <div class="title-3">
                <p>visit us .  ENJOY US</p>
            </div>
        </div>
        <!-- Header main End -->
    </header>
</body>

</html>