<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header id="">
        <div class="top-round">

        </div>
        <!-- nav Start -->
        <nav>
            <div class="container">
                <div class="nav-main">
                    <div class="nav-logo">
                        <img src="./image/logo.png" alt="">
                    </div>
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">speciality</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                    <div class="search-box">
                        <input type="search" placeholder="Search hear">
                        <a href="#">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Header main start -->
        <div class="box-1">
            <div class="flag-img">
                <img src="./image/flag.png" alt="">
            </div>
            <div class="title-1">
                <p>La vera Cucina</p>
            </div>
            <div class="title-2">
                <p>italian food</p>
            </div>
            <div class="title-3">
                <p>visit us . ENJOY US</p>
            </div>
            <div class="title-img">
                <img src="./image/header-3.png" alt="">
            </div>
        </div>
        <!-- Header main End -->
        <!-- Header 2 Start  -->
        <div class="about-us">
            <div class="container">
                <div class="about-title">About us</div>

                <div class="about-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. tempor incididunt ut
                        labore
                        et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                        accumsan lacus vel facilisis.
                    </p>
                </div>
                <div class="btn-box">
                    <a class="btn" href="">
                        More Info
                    </a>
                </div>
            </div>
        </div>
        <!-- Header 2 End  -->
    </header>
    <section id="menu">
        <div class="container">
            <div class="menu-main">
                <div class="menu-box">
                    <div class="menu-img">
                        <img src="./image/menu-1.png" alt="">
                    </div>
                    <div class="menu-title">
                        <p>Spaghetti Pasta</p>
                        <hr>
                    </div>
                    <div class="menu-dec">
                        <p>A classic Italian dish made with long, thin pasta tossed in a savory sauce, often flavored
                            with herbs, vegetables, and sometimes meat. It is light, flavorful, and very popular
                            worldwide.</p>
                    </div>
                </div>

                <div class="menu-box" id="box-2">
                    <div class="menu-img">
                        <img src="./image/menu-2.png" alt="">
                    </div>
                    <div class="menu-title">
                        <p>Potato Gnocchi</p>
                        <hr>
                    </div>
                    <div class="menu-dec">
                        <p>Soft, bite-sized dumplings made from potatoes, flour, and eggs. Gnocchi is usually served
                            with butter, cheese, or creamy sauces, giving it a rich and comforting taste.</p>
                    </div>
                </div>

                <div class="menu-box" id="box-3">
                    <div class="menu-img">
                        <img src="./image/Menu-3.png" alt="">
                    </div>
                    <div class="menu-title">
                        <p>Fresh Garden Salad</p>
                        <hr>
                    </div>
                    <div class="menu-dec">
                        <p>A healthy mix of fresh vegetables like lettuce, tomatoes, cucumbers, and olives, often topped
                            with dressing. It is light, refreshing, and perfect for a balanced meal.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- offer Start -->
    <section id="offer">
        <div class="offer-img">
            <img src="./image/offer.png" alt="">
        </div>
        <div class="offer-data">
            <div class="offer-card">
                <div class="offer-title">
                    <span>take <b> now</b></span>
                </div>
                <p>25% OFF</p>
                <span>* To be used Monday to Thursday nights</span>
                <div class="offer-btn">
                    <a href="">click here</a>
                </div>
            </div>
        </div>
    </section>
    <!-- offer End -->
    <!-- Fresh Start -->
    <section id="fresh">
        <div class="container">
            <div class="fresh-data">
                <div class="fresh-title">
                    <p>Fresh Perfection</p>
                </div>
                <div class="fresh-des">
                    <p>We believe great food starts with fresh ingredients and ends with exceptional flavor. Every plate
                        is carefully prepared to highlight natural tastes, delivering a simple yet unforgettable
                        culinary experience.
                        From farm to table, we select only the finest produce, ensuring every bite reflects purity,
                        quality, and care. Our chefs combine passion with creativity, transforming everyday ingredients
                        into beautifully crafted dishes that delight both the eyes and the palate.</p>
                </div>
                <div class="fresh-img">
                    <img src="./image/red.png" alt="">
                </div>
                <div class="fresh-img-2">
                    <img src="./image/fresh2.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Fresh Start -->
</body>

</html>