<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burgoo</title>
    <link rel="stylesheet" href="./css/media.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>

    <header id="header">
        <div class="contenar">
            <nav class="nev-bar">
                <div class="logo">
                    <img src="./image/Logo.png " alt="">
                </div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Promo</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </nav>
            <div class="header-text">
                <h1>Get Cashback up to 50%</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consectetur justo eu nunc
                    consequat.</p>
                <button>Order Now</button>
            </div>
        </div>
    </header>

</body>

</html>