<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burgoo</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    
</head>

<body>

    <!-- Header Start -->
    <header id="header">
        <div class="contenar">
            <nav class="nev-bar">
                <div class="logo">
                    <img src="./image/Logo.png " alt="">
                </div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Promo</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="nav-btn">
                    <div class="search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="bar-btn">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>
            </nav>
            <div class="header-text">
                <h1>Get Cashback up to 50%</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consectetur justo eu nunc
                    consequat.</p>
                <button>Order Now</button>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <section id="team">
        <div class="contenar">
            <div class="team-text">
                <h2>Our Team</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum
                    vestibulum. </p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="team-img">
                        <img src="./image/001.png" alt="">
                    </div>
                    <div class="team-data">
                        <h3>Aiden Hunter</h3>
                        <p>Founder</p>
                    </div>
                </div>
                <div class="col">
                    <div class="team-img">
                        <img src="./image/002.png" alt="">
                    </div>
                    <div class="team-data">
                        <h3>Ethel Ramsey</h3>
                        <p>Co-Founder</p>
                    </div>
                </div>
                <div class="col">
                    <div class="team-img">
                        <img src="./image/003.png" alt="">
                    </div>
                    <div class="team-data">
                        <h3>Fannie Stewart</h3>
                        <p>Co-Founder</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="vegan">
        
    </section>

</body>

</html>