@font-face {
    font-family: 'Edwardian';
    src: url('../Fonts/edwardian.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&family=Supermercado+One&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;

}

header {
    overflow: hidden;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.btn-box {
    text-align: right;
}

.btn {
    background-color: #7e8b6b;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 31px 0px;
    text-transform: uppercase;
}

header .top-round {
    height: 50px;
    background-color: #7e8b6b;
    border-radius: 50%;
    margin-top: -25px;
}

nav .nav-logo {
    width: 100px;
}

nav .nav-logo img {
    width: 100%;
}

.nav-main {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.nav-main ul {
    border-bottom: 2px solid #fff;
    padding-bottom: 20px;
}

.nav-main ul li {
    list-style: none;
    font-size: 20px;
    font-family: "Gill Sans";
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 20px;
}

.nav-main ul li a {
    color: #fff;
    text-decoration: none;
}

.nav-main ul li a:hover {
    color: #7e8b6b;
}

.nav-main .search-box {
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
}

.nav-main .search-box input {
    border: 0;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
}

.nav-main .search-box input:focus-visible {
    outline: none;
}

.nav-main .search-box a {
    text-decoration: none;
    color: #fff;
}

/* Header main Start */
header .box-1 {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    width: 50%;
    text-transform: uppercase;
}

header .box-1 .flag-img {
    margin: 0 auto;
    width: 30px;
}

header .box-1 .flag-img img {
    width: 100%;
}

header .box-1 .title-1 {
    font-size: 50px;
    padding: 30px;
    letter-spacing: 9px;
    text-transform: none;
    color: #fff3f3;
    font-family: "Edwardian";
    text-align: center;
    padding: 15px;
}

header .box-1 .title-2 {
    font-size: 50px;
    letter-spacing: 13px;
    text-transform: uppercase;
    color: #fff3f3;
    font-family: "Saira Stencil", sans-serif;
    text-align: center;
}

header .box-1 .title-3 p {
    padding: 30px;
    font-size: 27px;
    letter-spacing: 17px;
    text-transform: uppercase;
    color: #fff3f3;
    font-weight: 300;
    font-family: "Big Shoulders", sans-serif;
    text-align: center;
}

.box-1::before {
    position: absolute;
    content: "";
    top: 157px;
    left: -150px;
    width: 300px;
    height: 300px;
    background-image: url(../image/header-1.png);
    background-size: cover;
    border: 10px solid #7e8b6b;
    border-radius: 50%;
    background-position: left;
    transform: rotate(190deg);
}

header .box-1 .title-img {
    margin-top: 37px;
    margin: 0 auto;
}

/* Header main End */
/* Header 2 Start */
header .about-us {
    width: 65%;
    margin: 140px 0;
    position: relative;
}

.about-title {
    font-size: 40px;
    color: #fff;
    font-family: "Big Shoulders", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.about-text p {
    color: #fff;
    font-family: "Supermercado One", sans-serif;
    letter-spacing: 3px;
    margin: 50px 0;
    font-size: 20px;
}

.about-us .btn {
    text-align: right;
}

.about-us::after {
    position: absolute;
    content: "";
    top: -125px;
    right: -731px;
    width: 500px;
    height: 500px;
    background-image: url(../image/header-2.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    border: 10px solid #7e8b6b;
    border-radius: 50%;
    background-position: -534px;
    /* transform: rotate(190deg); */
}

/* Header 2 End */
/* Menu Start */
#menu .menu-main {
    display: flex;
    gap: 60px;
    justify-content: center;
}

#menu .menu-main .menu-box {
    background-color: #7e8b6b2d;
    width: 29%;
    padding: 20px 10px;
    height: 550px;
}

#menu .menu-main #box-2 {
    margin-top: 75px;
}

#menu .menu-main #box-3 {
    margin-top: 150px;
}

.menu-box .menu-img img {
    width: 100%;
}

.menu-box .menu-img {
    width: 80%;
    margin: 0 auto;
}

.menu-box .menu-title p {
    font-size: 30px;
    text-align: center;
    margin: 5px 0;
    color: #fff;
}

.menu-box .menu-title hr {
    width: 50%;
    margin: 0 auto;
}

.menu-box .menu-dec {
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 20px auto;
    width: 85%;
}

/* Menu End */
/* offer Start */
#offer {
    display: flex;
    position: relative;
}

#offer .offer-img img {
    width: 100%;
}

#offer .offer-img {
    margin-left: -145px;
    position: absolute;
    left: 0;
    width: 500px;
}

.offer-data {
    width: 99%;
    margin-top: 50px;
    background-color: #902424;
}

#offer .offer-card {
    padding: 50px 10% 20px 0px;
    text-align: right;
}

.offer-card span {
    font-size: 15px;
    letter-spacing: 3px;
}

.offer-card .offer-title span {
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 10px;
    background: transparent;
}

.offer-card p {
    color: black;
    font-weight: 500;
    word-spacing: 11px;
    font-size: 60px;
}

.offer-card span {
    display: inline-block;
    padding: 20px 0px;
}

.offer-card a {
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    margin: 10px;
    color: black;
    display: inline-block;
}

/* offer End */
/* Fresh Start */

#fresh {
    margin: 50px 0px;
    position: relative;
    padding-bottom: 126px;
}

#fresh::after {
    content: "";
    background-image: url(../image/fresh-1.png);
    background-size: cover;
    width: 500px;
    height: 754px;
    z-index: -1;
    position: absolute;
    top: -125px;
    right: 0;
}

#fresh .fresh-data {
    width: 500px;
    color: #fff;
}

.fresh-data .fresh-title p {
    margin: 20px 0px;
    font-size: 40px;
    letter-spacing: 6px;
}

.fresh-des p {
    font-size: 20px;
    letter-spacing: 3px;
    padding: 30px 0;
}

.fresh-img img {
    width: 80%;
}

.fresh-img {
    margin: 20px auto;
    width: 300px;
}

.fresh-img-2 {
    margin: -24% 90%;
}

/* Fresh End */
/* taste Start */
section#taste {
    margin: 20px 0px;
}

#taste .taste-title {
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
    color: #b60e0e;
}

#taste .taste-main {
    border: 2px solid #fff;
    padding: 40px;
    display: flex;
    margin: 30px 0;
    gap: 30px;
}

.taste-main .taste-box-1 {
    width: 50%;
    color: #fff;
    letter-spacing: 3px;
    font-size: 20px;
}

.taste-main .taste-box-2 {
    width: 50%;
    color: #fff;
    letter-spacing: 3px;
    font-size: 20px;

}

.taste-btn {
    text-align: center;
    margin-top: -50px;
}

.taste-btn button {
    background-color: #1a1a1a;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 20px;
}

/* taste End */
/* Food Start */
#food .food-main {
    display: flex;
    gap: 70px;
    margin: 100px 0px;
    justify-content: center;
}

.food-main .food-box {

    background-color: #fff3f32f;
    text-align: center;
    padding: 20px;
}

.food-box .food-img {
    width: 250px;
    margin: 0 auto;
}

.food-box .food-img img {
    width: 100%;
}

.food-box .food-title {
    margin-top: 20px;
    font-size: 30px;
    color: #fff;
}

.food-title hr {
    width: 80%;
    margin: 10px auto;
}

.food-box .food-des {
    color: #fff;
    padding: 10px;
    letter-spacing: 2px;
    width: 275px;
    font-size: 18px;
}

/* Food End */
/* only background Start */
.background {
    background-image: url(../image/background.png);
    background-size: 100%;
    height: 500px;
}

/* only background Start */
/* Know Start */
#know {
    margin: 20px 0;
}

.know-main {
    display: flex;
    text-align: right;
    color: #fff;
}
.know-main .know-des{
    margin-top: 50px;
}
.know-main .know-des span{
    margin: 20px 0px;
    font-size: 40px;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.know-main .know-des p{
   font-size: 20px;
    letter-spacing: 3px;
    padding: 30px 0px 30px 140px;
}

/* Know End */
/* Icon Start */
.main-icon{
    margin: 100px 0px 20px 0px;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.main-icon .icon-box{
    text-align: center;
    color: #fff;
}
.icon-box .icon-title p{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.icon-box .icon-ces p{
    font-size: 18px;
    letter-spacing: 2px;
}
.icon-box .icon-img img{
width: 60PX;
height: 60PX;
margin: 20PX 10PX;
}
/* Icon End */
.background-2{
    background-image: url(../image/footer.png);
    background-size: 100%;
    height: 400px;
    background-repeat: no-repeat;
}
/* Footer Start */

/* Footer end */